**/.DS_Store
**/.dart_tool/
**/build/
**/.build/
**/*.app/
**/*.ipa
**/*.apk
**/*.xcarchive/
**/xcuserdata/
**/ephemeral/
**/.gradle/
**/local.properties
**/Generated.xcconfig
**/flutter_export_environment.sh
**/.env*
**/*.p12
**/*.p8
**/*.mobileprovision
**/*keystore*
**/key.properties
**/memoria-da-mac.json
**/Chiave-JARVIS.txt
